@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
$font-family-base: 'Source Sans Pro', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";

$amber: #FFBE00;
$dune: #332F2D;
$green: #45BF55;

// Landing Page
body {
	background: $amber url(../images/bg_w.png) repeat;
	background-size: 320px 320px;
}
p {
	color: $dune;
}
.bn-intro {
	margin-top: 48px;
	width: auto;
}
.bn-logo {
	display: block;
	margin: 12px auto 12px;
	padding: 24px;
	background-color: #fff;
	border-radius: 50%;
	width: 40%;
	max-width: 160px;
	opacity: 0.96;
}
.bn-tagline {
	text-align: center;
	font-weight: 300;
	font-size: 1.25em;
}

.bn-demo {
	// position: relative;
	// margin-top: 240px;
	// background-color: $amber;
}
.invision {
	display: block;
	position: relative;
	// top: -160px;
	margin: 12px auto;
	max-width: 438px;
}
.footer {
	text-align:center;
}

